<!-- <footer class="main-footer">
  <strong>
    Copyright &copy; {{ currentYear }}
    <a href="javascript:;">Public_Opinion_Collection</a>.
  </strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>{{ "Version" | localize }} </b> {{ versionText }}
  </div>
</footer> -->


<footer class="bg-dark">
  <hr>
  <strong style="margin-left: 10%">
    Copyright &copy; {{ currentYear }}
    <a href="javascript:;">Public_Opinion_Collection</a>.
  </strong>
  <div class="float-right d-none d-sm-inline-block" style="margin-right: 10%;">
    <b>{{ "Version" | localize }} </b> {{ versionText }}
  </div>
  <hr>
</footer>
