<div [@routerTransition]>
    <br>
    <div class="text-center ">
        <h1>What kind of issue are you opinioning on?</h1>
        <h5>419,953,127 people taking action.</h5>
        <br><br><br><br><br>
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <section class="content px-2">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-lg-2 col-6" (click)="petitionfrom('Animals')">
                                <div class="small-box bg-primary" id="category">

                                    <div class="icon">
                                        <i class="fas fa-paw"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4>Animals</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Health')">
                                <div class="small-box bg-success" id="category">

                                    <div class="icon">
                                        <i class="fas fa-medkit"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4>Helth</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Human Rights')">
                                <div class="small-box bg-info" id="category">

                                    <div class="icon">
                                        <i class="fas fa-users"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>human</h4>
                                    <h4>Rights</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Environment')">
                                <div class="small-box bg-warning" id="category">

                                    <div class="icon">
                                        <i class="fas fa-tree"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Environment</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Political')">
                                <div class="small-box bg-danger" id="category">

                                    <div class="icon">
                                        <i class="fas fa-university"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Politics</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Local')">
                                <div class="small-box bg-primary" id="category">

                                    <div class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Local</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Economic Equality')">
                                <div class="small-box bg-success" id="category">

                                    <div class="icon">
                                        <i class="fas fa-handshake"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Economic</h4>
                                    <h4>Equality</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Women`s Rights')">
                                <div class="small-box bg-info" id="category">

                                    <div class="icon">
                                        <i class="fas fa-female"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Women`s</h4>
                                    <h4> Rights</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('LGBT Rights')">
                                <div class="small-box bg-warning" id="category">

                                    <div class="icon">
                                        <i class="fas fa-bullseye"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>LGBT</h4>
                                    <h4>Rights</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Criminal Justice')">
                                <div class="small-box bg-danger" id="category">

                                    <div class="icon">
                                        <i class="fas fa-balance-scale "></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Criminal</h4>
                                    <h4>Justice</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Migration')">
                                <div class="small-box bg-primary" id="category">

                                    <div class="icon">
                                        <i class="fas fa-plane"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Migration</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Education')">
                                <div class="small-box bg-success" id="category">

                                    <div class="icon">
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Education</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Disability')">
                                <div class="small-box bg-info" id="category">

                                    <div class="icon">
                                        <i class="fas fa-wheelchair"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Disability</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Racial Justice')">
                                <div class="small-box bg-warning" id="category">

                                    <div class="icon">
                                        <i class="fas fa-gavel"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Racial</h4>
                                    <h4>Justice</h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6" (click)="petitionfrom('Other')">
                                <div class="small-box bg-danger" id="category">

                                    <div class="icon">
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    <!-- <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                                        class="small-box-footer" target="_blank">
                                        Create Post
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </a> -->
                                </div>
                                <div>
                                    <h4>Other</h4>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>